html{cursor:url(../img/feather.ico),auto;}

#background{width:inherit;
			height:200px;
			background:url(../img/background.jpg) no-repeat;
			background-size:cover;
			}
.content{width:1000px;
        margin:0 auto;}
h1{color:white;}
ul{list-style-type:none;}